
@keyframes slideInBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0); 
      opacity: 1;
    }
  }
  
  
  .carousel-item {
    animation: slideInBottom 0.5s ease-out; 
  }
  
 
  .carousel-item-next, .carousel-item-prev {
    transition: transform 0.5s ease;
  }
  
  
  .carousel-item-next, .carousel-item-prev {
    transform: none !important;
  }
  