<div *ngIf="!isLoading">
  <div class="footer-wrapper">
    <div class="footer-wrapper2">
      <footer class="footer">
        <div class="container text-center">
          <div class="row">
            <div
              class="col-4 d-flex flex-column align-items-center justify-content-center"
            >
              <img id="logo" src="./icons/logo_v03.svg" alt="" />

              <h2>Spicy Photography</h2>
            </div>
            <div class="col-5 d-flex flex-column justify-content-center pt-4">
              <ul
                class="list-unstyled d-flex justify-content-evenly"
                id="linkList"
              >
                <li>
                  <a class="nav-link" routerLink="">Home</a>
                </li>
                <li>
                  <a class="nav-link" routerLink="">About</a>
                </li>
                <li>
                  <a class="nav-link" routerLink="">Portfolio</a>
                </li>
                <li>
                  <a class="nav-link" routerLink="">Awards</a>
                </li>
              </ul>
              <ul
                id="social-icons"
                class="list-unstyled d-flex justify-content-evenly pt-4"
              >
                <li class="nav-link">
                  <img
                    class="iconAnim"
                    src="./icons/envelope-fill.svg"
                    alt="icon not found"
                  />
                </li>
                <li class="nav-link">
                  <img
                    class="iconAnim"
                    src="./icons/linkedin.svg"
                    alt="icon not found"
                  />
                </li>
                <li class="nav-link">
                  <img
                    style="--delay: -0.25s"
                    class="iconAnim"
                    src="./icons/instagram.svg"
                    alt="icon not found"
                  />
                </li>
                <li class="nav-link">
                  <img
                    class="iconAnim"
                    src="./icons/twitter.svg"
                    alt="icon not found"
                  />
                </li>
                <li class="nav-link">
                  <img
                    style="--delay: -0.25s"
                    class="iconAnim"
                    src="./icons/youtube.svg"
                    alt="icon not found"
                  />
                </li>
              </ul>
            </div>
          </div>
          <p id="disclaimer">
            &copy; 2024 SpicyPhotography. All Rights Reserved.
          </p>
        </div>
      </footer>
    </div>
  </div>
</div>
