.navbar {
  background-color: transparent !important;
  box-shadow: none !important;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: #fff;
}

.navbar .navbar-brand:hover,
.navbar .nav-link:hover {
  color: var(--orange-pantone);;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
