.container {
  margin-top: 10rem;
  margin-bottom: 16rem;
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 1s ease-out forwards;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  color: var(--orange-pantone);
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-family: "Lugrasimo", cursive, serif;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background: var(--midnight-green);
  color: var(--atomic-tangerine);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: var(--orange-pantone);
  border-color: var(--midnight-green);
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--atomic-tangerine);
  border-color: var(--midnight-green);
}

.email {
  text-align: center;
  margin-top: 1rem;
  color: var(--orange-pantone);
}

#link {
  color: var(--gold);
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#link:hover {
  color: var(--orange-wheel);
}
