<div
  class="award-container"
  [ngStyle]="{
    'background-image': 'url(' + backgroundImages[currentBackgroundIndex] + ')'
  }"
>
  <div class="award-header">
    <h2>{{ awardTitle }}</h2>
    <div class="image-container">
      <img
        src="./images/about/john.jpg"
        alt="Photographer Portrait"
        class="img-fluid rounded shadow-lg"
      />
    </div>
    <h3>
      Awarded to: <strong>{{ awardedTo }}</strong>
    </h3>
  </div>
  <div class="award-content">
    <p>{{ description }}</p>
  </div>
  <button class="btn btn-success" (click)="changeBackground()">
    Award winning pictures
  </button>
</div>
