<div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div
      *ngFor="let customer of customers; let i = index"
      class="carousel-item"
      [class.active]="i === 0"
    >
      <div
        class="d-flex justify-content-center align-items-center flex-column p-4"
      >
        <img
          [src]="customer.imageUrl"
          [alt]="customer.fName"
          class="rounded-circle mb-3"
          style="width: 100px; height: 100px; object-fit: cover"
        />
        <h5>{{ customer.fName }} {{ customer.lName }}</h5>
        <p class="text-center mt-2">{{ customer.testemonial }}</p>
        <app-star-rating [rating]="customer.rating"></app-star-rating>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#testimonialCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#testimonialCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
