.carousel {
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    to bottom,
    rgba(255, 94, 77, 0.8),
    rgba(255, 165, 0, 0.8)
  );
  border-radius: 10px;
  padding: 20px;
}

.carousel-item {
  color: white; /* Ensures text is readable against the sunset background */
}

.carousel-control-prev,
.carousel-control-next {
  filter: brightness(0) invert(1); /* Invert colors for better visibility */
}
