@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gowun+Dodum&family=Lugrasimo&family=Marck+Script&family=Pacifico&family=Playwrite+AU+NSW:wght@100..400&display=swap");

:root {
  /* color variables */

  --rich-black: #081020ff;
  --i-rich-back: #f7efdf;
  --gold: #ffd51aff;
  --orange-wheel: #fd800dff;
  --midnight-green: #1a454cff;
  --cinnabar: #d2532dff;
  --d-cinnabar: #682815;
  --caribbean-current: #356962ff;

  --atomic-tangerine: #f89d64ff;
  --orange-pantone: #f35d18ff;

  --light-gray: #dddddd;

  --gold-orange: #e9a220;
}

body {
  background-image: linear-gradient(
    var(--caribbean-current),
    var(--midnight-green)
  );
}
