:root {
  /* color variables */

  --rich-black: #081020ff;
  --gold: #ffd51aff;
  --orange-wheel: #fd800dff;
  --midnight-green: #1a454cff;
  --cinnabar: #d2532dff;
  --caribbean-current: #356962ff;
  --atomic-tangerine: #f89d64ff;
  --orange-pantone: #f35d18ff;

  --light-gray: #dddddd;
}

body {
  background-image: linear-gradient(
    var(--caribbean-current),
    var(--midnight-green)
  );
}
