@if (photo) {

<div>
  <h2 id="heading">
    <strong>{{ photo.title }}</strong>
  </h2>

  <div
    class="row row-cols-1 row-cols-md-2 d-flex justify-content-center align-items-center"
  >
    <div class="col d-flex justify-content-center align-items-center" id="desc">
      <p>
        @if (photo.desc) { <em>"{{ photo.desc }}"</em> } @else {"this Photo has
        no description yet"}
      </p>
    </div>
    <div class="imgBox col-md-auto">
      <img class="photo" [src]="photo.img" alt="{{ photo.title }}" />
    </div>
  </div>
</div>
<div class="d-flex justify-content-end" id="btnBg">
  <a type="button" class="btn btn-lg btn-secondary" routerLink="/portfolio"
    >return</a
  >
</div>
}
